# Vim
.*.sw*
/Session.vim

# phpunit
/phpunit.phar
/phpunit.xml
/reports/*
# Build
/build

# Composer
/composer.phar
/vendor

# Binaries
/sugarcli.phar

/test

# Template cache
res/code_templates/cache

.sugarcli_testrc
.sugarclirc
.idea/
