{
  "output": "sugarcli.phar",
  "stub": true,
  "main": "bin/sugarcli",
  "chmod": "0755",
  "directories": [
    "src",
    "vendor",
    "bin"
  ],
  "files": [
    "bin/sugarcli"
  ],
  "compression": "GZ"
}

