<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="SugarCli's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="reports/coverage-clover.xml"/>
        <log type="junit" target="reports/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <var name='TEST_DB_USER' value='@DB_USER@' />
        <var name='TEST_DB_PASSWORD' value='@DB_PASSWORD@' />
        <var name='TEST_DB_NAME' value='@DB_NAME@' />
        <var name='TEST_DB_HOST' value='@DB_HOST@' />
        <var name='TEST_DB_PORT' value='@DB_PORT@' />

        <var name='TEST_SUGAR_PATH' value='@SUGAR_PATH@' />
        <var name='TEST_SUGAR_URL' value='@SUGAR_URL@' />
    </php>

</phpunit>
