<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="SugarCli's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-clover" target="reports/coverage-clover.xml"/>
        <log type="junit" target="reports/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <env name='SUGARCLI_DB_USER' value='' />
        <env name='SUGARCLI_DB_PASSWORD' value='' />
        <env name='SUGARCLI_DB_NAME' value='sugarcrm' />
        <env name='SUGARCLI_DB_HOST' value='127.0.0.1' />
        <env name='SUGARCLI_DB_PORT' value='3306' />

        <env name='SUGARCLI_SUGAR_PATH' value='' />
        <env name='SUGARCLI_SUGAR_URL' value='' />
    </php>

</phpunit>
